@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  aspect-ratio: 9 / 16;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
